body {
    background: white;
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

.container {
    text-align: center; /* Center the text horizontally */
    margin-top: 3rem;
}

h1 {
  
    font-size: 36px;
    color: #333;
}


.filter-sorting {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px; 
}

#filter {
    display: flex;
    gap: 10px;
}


.btn {
    border: none;
    outline: none;
    padding: 6px 9px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }


#filterDropdown {
  margin-bottom: 14px;
}

#books-gallery {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book-container {

    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;

}

.book-container img {

  width: 200px; 
  height: 200px; 
  object-fit: cover;
}

.book-title {
    font-weight: bold;
    margin-top: 5px;
}
.book-genre {
    font-style: italic;
    color: #555;
} 




