body {
    background: white;
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

.container {
    text-align: center; /* Center the text horizontally */
    margin-top: 3rem;
}

h1 {
  
    font-size: 36px;
    color: #333;
}


.filter-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#filter,
.sort,
.search-container {
  flex: 1; /* Distribute the available space equally */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-container {
  justify-content: flex-end; /* Push search bar to the right */
}


#filterDropdown {
  margin-bottom: 14px;
}

#books-gallery {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book-container {

    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;

}

.book-container img {

  width: 200px; 
  height: 200px; 
  object-fit: cover;
}

.book-title {
    font-weight: bold;
    margin-top: 5px;
}
.book-genre,.book-year,.book-description,.book-rating {
    font-style: italic;
    color: #555;
} 




